<!DOCTYPE html>
<meta charset="utf-8">
{% load static %}
<link href="{% static "c3/c3.css" %}" rel="stylesheet">
<body>
<div id="chart"></div>
<script src="http://d3js.org/d3.v3.js"></script>

<script src="{% static "c3/c3.js" %}"></script>
<script>

    var parseTime = d3.time.format("%Y-%m-%dT%H:%M:%S.%LZ");

    var url = "{% url "wind_data" %}";

    d3.json(url, function (error, data) {
        if (error) throw error;
        data.forEach(function(d) {
            d.timestamp = parseTime.parse(d.timestamp);
            console.log(d.timestamp);
        });
        console.log(data);

        var chart = c3.generate({
            bindto: '#chart',
            data: {
                json: data,
                keys: {
                    x: 'timestamp',
                    value: ['x_speed', 'y_speed', 'z_speed'],
                }
            },
            axis: {
            x: {
                type: 'timeseries',
                tick: {
                    format: '%H:%M:%S'
                }
            }
        }
        })
    });

</script>
</body>
</html>