<!DOCTYPE html>
<meta charset="utf-8">
{% load static %}
<link href="{% static "c3/c3.css" %}" rel="stylesheet">
<body>
<div id="chart"></div>
<script src="http://d3js.org/d3.v3.js"></script>
<script src="{% static "c3/c3.js" %}"></script>
<script src="{% static "anemoment/js/src/Graph.js" %}"></script>
<script>

    var url = "{% url "wind_data" %}";

    var graph = new Graph(url);

    graph.render("#chart");

    function update() {
        graph.update();
    }

    //setInterval(update, 500);
</script>
</body>
</html>